* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background: #fafcff; */
  background: #fafbfe;

}

header{
  border: 0.1rem solid #eaeaea;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.a-logo img{
  width: 10rem;
  margin-top: 0.2rem;
}

#nav-menu {
  font-family: 'Poppins', sans-serif;
  list-style: none;
  display: flex;
  gap: 2rem;
}

#nav-menu a{
  color: #1c2d1e;
  text-decoration: none;
  padding: 2rem 0;
}

#nav-menu li a{
  border-bottom: solid 0px #00d11b;
  transition: color 0.2s ease-in-out;
}

#nav-menu li a:hover {
  border-bottom: solid 1px #00d11b;
  color: #00d11b;
  font-size: 1rem;
}

#nav-btn {
  display: none;
  padding: 1rem;
  background-color: transparent;
  font-size: 1.5rem
}

.container-main{
  display: flex;
  padding: 1rem 3rem;
  justify-content: center;
  align-items: center;
}

.topline {
  display: block;
  position: relative;
  font-size: 2rem;
  letter-spacing: .3rem;
  color: #1c2d1e;
  /* color: #0b3772; */
}

.container-main h1 {
  display: block;
  font-size: 5rem;
  font-weight: 900;
  color: #1c2d1e;
}

.container-main p {
  display: block;
  width: 90%;
  font-size: 1.2rem;
  color: #1c2d1e;
}

.cols {
  width: 50vw;
}

.type-effect-text {
  color: #00d11b;
  text-transform: capitalize;
}

.btns {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.btns button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  background: #1c2d1e;
  color: #fcfdff;
  border-radius: .3rem;
  padding: .5rem 1rem;
  letter-spacing: .2rem;
  text-transform: capitalize;
  box-shadow: 0.1rem .2rem .3rem rgba(0, 0, 0, 0.2 );
  transition: background ease-in-out .2s;
}

.btns button:hover {
  background: #00d11b;
}

.imgbox #wrapperThemeImg {
   width: 50vw;
}


@media (max-width: 900px){
  #nav-menu{
    display: none;
    position: absolute;
    width: 100%;
    top: 6rem;
    right: 0;
    height: calc(100vh -9.5rem);
    padding: 1rem 0;
  }
  #nav-menu li a {
    transition: none;
    padding: 1rem 0rem;
    flex-wrap: nowrap;
  }
  /* #nav-menu li:hover {
  } */
  #nav-btn{
    display: block;
  }
  #nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8fff9;
  }

}

@media (max-width: 600px){
  header{
    padding: 0;
  }
}