* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  border: 0.1rem solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.a-logo img{
  width: 10rem;
  margin-top: 0.2rem;
}

#nav-menu {
  font-family: 'Poppins', sans-serif;
  list-style: none;
  display: flex;
  gap: 2rem;
}

#nav-menu a{
  color: #000;
  text-decoration: none;
  padding: 2.1rem 0;
}

#nav-menu li a{
  border-bottom: 0px #00d11b;
  transition: 0.2s ease-in-out;
}

#nav-menu li a:hover {
  border-bottom: 1px solid #00d11b;
  color: #00d11b;
  font-size: 1rem;
}

#nav-btn {
  display: none;
  padding: 1rem;
  background-color: transparent;
  font-size: 1.5rem
}

.container-main{
  display: flex;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  justify-content: center;
  align-items: center;
}

.cols {
  width: 50%;
}

.topline {
  display: block;
  position: relative;
  font-size: 2rem;
  letter-spacing: .5rem;
  color: #3d535f;
}

@media (max-width: 900px){
  #nav-menu{
    display: none;
    position: absolute;
    width: 100%;
    top: 6rem;
    right: 0;
    height: calc(100vh -9.5rem);
    padding: 1rem 0;
  }
  #nav-menu li a {
    transition: none;
    padding: 1rem 0rem;
    flex-wrap: nowrap;
  }
  /* #nav-menu li:hover {
  } */
  #nav-btn{
    display: block;
  }
  #nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8fff9;
  }

}

@media (max-width: 600px){
  header{
    padding: 0;
  }
}